.quiz-card__correct-answers {
    text-align: center;
}

.quiz-card__statistics {
    display: flex;
    justify-content: space-around;
}

.quiz-card__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.ant-btn {
    width: 70%;
    border-radius: 30px !important;
}